:root {
  /* 圆角相关 token */
  --hx-radius-small: 2px;  /*常用*/
  --hx-radius-default: 3px;
  --hx-radius-medium: 6px;
  --hx-radius-large: 9px;
  --hx-radius-extraLarge: 12px;
  --hx-radius-round: 999px;
  --hx-radius-circle: 50%;
} 